.header {
    font-weight: 600;
    color: white;
    background-color: #FF7F50;
}

.app-name {
    display: inline-block;
    width: 1075px;
    font-size: 36px;
    padding: 15px 30px;
    color: white;
}

.about-us {
    display: inline-block;
    width: 125px;
    font-size: 22px;
}